@using System.Data
@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
    ViewBag.Title = "购买基金建议";

    var dt1 = ViewBag.dt1 as DataTable;
    var dt2 = ViewBag.dt2 as DataTable;
}
@section scripts
{
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                filters: {
                    y3: 0.09,
                    y: 0.09,
                    y6: 0.09,
                    n1: 0.5,
                    z: 0.5,
                    sug: 5,
                    pro: 5
                },
                showFilters: false
            },
            method: {

            }
        });
    </script>
}
<div class="table-responsive" id="app">
    <form class="form-inline" action="/Fund/Index" method="get">
        <div v-show="showFilters">
            <div class="form-group">
                <label>日期</label>
                <input type="text" class="form-control" id="date" name="date" placeholder="日期" value="@(Request["date"]??DateTime.Now.Date.ToString("yyyy-MM-dd"))">
            </div>
            <div class="form-group">
                <label>近3月排名比</label>
                <input type="text" class="form-control" id="y3" name="y3" placeholder="近3月排名比" value="@(Request["y3"]??"0.09")">
            </div>
            <div class="form-group">
                <label>近1月排名比</label>
                <input type="text" class="form-control" id="y" name="y" placeholder="近1月排名比" value="@(Request["y"]??"0.09")">
            </div>
            <div class="form-group">
                <label>近6月排名比</label>
                <input type="text" class="form-control" id="y6" name="y6" placeholder="近6月排名比" value="@(Request["y6"]??"0.09")">
            </div>
            <div class="form-group">
                <label>近1年排名比</label>
                <input type="text" class="form-control" id="n1" name="n1" placeholder="近1年排名比" value="@(Request["n1"]??"0.1")">
            </div>
            <div class="form-group">
                <label>近1周排名比</label>
                <input type="text" class="form-control" id="z" name="z" placeholder="近1周排名比" value="@(Request["n1"]??"0.1")">
            </div>
            <div class="form-group">
                <label>买建议</label>
                <input type="text" class="form-control" id="sug" name="sug" placeholder="买建议" value="@(Request["sug"]??"5")">
            </div>
            <div class="form-group">
                <label>买收益</label>
                <input type="text" class="form-control" id="pro" name="pro" placeholder="买收益" value="@(Request["sug"]??"5")">
            </div>
        </div>
        <button type="button" class="btn btn-default" v-on:click="showFilters=!showFilters">显示隐藏</button>
        <button type="submit" class="btn btn-default">查询</button>
    </form>
    <table class="table table-bordered table-hover table-striped table-expandable">
        <thead>
            <tr>
                @foreach (DataColumn col in dt1.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in dt1.Rows)
            {
                var fundCode = row["基金编码"];
                var dkhsCode = row["DkhsCode"];
                var itemDt2 = dt2.Select("FundCode='" + fundCode + "'");
                <tr>
                    @foreach (DataColumn col in dt1.Columns)
                    {
                        if (col.ColumnName == "基金编码")
                        {
                            <td>
                                <a href='https://m.1234567.com.cn/index.html?page=jjxq&code=@fundCode' target="_blank">天天基金</a>
                                @*<a href='https://m.howbuy.com/fund/@(fundCode)/' target="_blank">掌上基金</a>*@
                                <a href='https://www.dkhs.com/s/@dkhsCode' target="_blank">基金决策宝</a>
                                <a href="https://www.dkhs.com/symbols/funds/diagnosis/detail/@dkhsCode/" target="_blank">诊断</a>
                                <a href="/Fund/Buy?fundCode=@fundCode" target="_blank">购买</a>
                                @Html.Raw(row[col.ColumnName])
                            </td>
                        }
                        else if (col.ColumnName == "近1月涨幅")
                        {
                            <td>
                                @Html.Raw(row[col.ColumnName])
                                <a href="https://www.dkhs.com/s/@dkhsCode/achievement_rank/" target="_blank">业绩排名</a>
                                <a href="https://www.dkhs.com/s/@dkhsCode/netvalue_history/" target="_blank"> 历史净值</a>
                                <a href='https://www.dkhs.com/s/@dkhsCode' target="_blank">基金决策宝</a>
                                <a href=' https://www.dkhs.com/s/@dkhsCode/managers_achivements_history/' target="_blank">经理变动</a>
                                <a href=' https://www.dkhs.com/s/@dkhsCode/asset_allocation/' target="_blank">资产配置</a>
                            </td>
                        }
                        else if (col.ColumnName == "估30天建议")
                        {
                            <td>
                                @Html.Raw(row[col.ColumnName])
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.Raw(row[col.ColumnName])
                            </td>
                        }

                    }
                </tr>
                <tr>
                    <td colspan="@dt1.Columns.Count">
                        <table cellspacing="0" border="1">
                            <thead>
                                <tr>
                                    @foreach (DataColumn col in dt2.Columns)
                                    {
                                        <th>@col.ColumnName</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow t2row in itemDt2)
                                {
                                    <tr>
                                        @foreach (DataColumn col in dt2.Columns)
                                        {
                                            <td>
                                                @Html.Raw(t2row[col.ColumnName])
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
